ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 10, 248);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgb(20, 36, 182);
}
.active {
  background-color: #3d04da;
}
* {
  box-sizing: border-box;
}
* {box-sizing:border-box}




}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.column {
  float: left;
  width: 22.22%;
  padding: 5px;
}


.row::after {
  clear: both;
  display: table;
  height: 50px;
}





.our services {
  background-color: #ffdddd;
  border-right: 6px solid #f44336;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


